.dashboard-container {
    padding: 20px;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f7f6;
    min-height: 100vh;
    font-weight: 700;
    
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 24px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.logout-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    font-size: 17px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: 700;
}

.logout-btn:hover {
    background-color: #c0392b;
}

.topics-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.topic-card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.topic-card:nth-child(3n + 1) {
    background-color: hsl(120, 60%, 85%);
    /* Light Green */
}

/* 2nd, 5th, 8th... (index 2, 5, 8) */
.topic-card:nth-child(3n + 2) {
    background-color: hsl(50, 100%, 90%);
    /* Light Yellow */
}

/* 3rd, 6th, 9th... (index 3, 6, 9) */
.topic-card:nth-child(3n + 3) {
    background-color: hsl(340, 80%, 90%);
    /* Light Pink */
}

.topic-card:hover {
    transform: translateY(-5px);
}

.topic-card h3 {
    color: #007bff;
    margin-top: 0;
    font-weight: 700;
    font-size: 24px;
}

.start-btn {
    margin-top: 15px;
    background-color: #28a745;
    color: white;
    border: none;
    font-weight: 700;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.start-btn:hover {
    background-color: #01681e;
}